@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@200;300;400&display=swap');
@font-face {
    font-family:'TitilliumWeb', sans-serif;
    src: url("fonts/font3/TitilliumWeb-Regular.ttf");
    font-style: normal; 
    font-weight:400; 
}
.text1{
    font-family:'TitilliumWeb', sans-serif;
    color:white;
    font-size: 23px;
    font-weight:normal;
}
.text2{
    font-family:'OpenSans', sans-serif;
    color: white;
    font-size: 16px;
    margin-top: 40px;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.bt1{
    width: 160px;
    height: 51px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family:'OpenSans', sans-serif;
    margin-top: 40px;
    font-size: 16px;
}
.container{
    margin:0 auto;
}
.wrapper{
    width: 1920px;
    border: 0px solid black;
    margin: 0 auto;
}
.header{
    width: 1920px;
    height: 80px;
}
.header_logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    margin-left: 40px;
    padding: 11px;
}
.header__container{
    position:absolute;
    background-color:rgba(0, 91, 193, 60%);
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:26px;
    margin-left: 550px;
}
.nav__item{
    color: white;
    font-family:'OpenSans', sans-serif;
    text-decoration: none;
    font-size: 14px;

}
.header__container{
    width:1920px;
    display:flex;
    flex-direction:row;
    align-items: center;
}
.img0{
    width: 1920px;
    height: 800px;
}
.img1{
    width: 57.74px;
    height: 50px;
}
.img2{
    opacity: 60%;
    z-index: 0;
    position: relative;
}
.first-screen{
    border: 0px solid black;
    width: 1140px;
    height: 724px;
    margin:0 auto;
    margin-top: -729px;
}
.title1{
    font-family:'Oswald', sans-serif;
    font-size: 48px;
    color: white;
    font-weight:normal;
}
.info{
    border: 0px solid black;
    margin-top: -529px;
    z-index: 1;
    position: relative;
    margin-left: 190px;
}
.block1{
    width: 1920px;
    border: 1px solid red;
    height: 800px;
    margin:0 auto;
    margin-top: 740px;
}
.block2{
    width: 1920px;
    border: 2px solid pink;
    height: 800px;
    margin:0 auto;
    margin-top: 20px;
}
.block3{
    width: 1920px;
    border: 2px solid pink;
    height: 800px;
    margin:0 auto;
    margin-top: 20px;
}
.content-block{
    width: 1100px;
    border: 1px solid olive;
    height: 530px;
    margin:0 auto;
    margin-top: 139px;
}
.img3{
    width: 540px;
    height: 400px;
}
.cont2{
    background-color: white;
    width: 250px;
    height: 110px;
    margin-left: 250px;
    margin-top: -155px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    z-index: 1;
}
.title-bt{
    font-family:'Oswald', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 25px;
    font-weight:normal;

}
.text-bt{
    font-family:'OpenSans', sans-serif;
    font-size: 14px;
    margin-left: 25px;
    
}
input[name="knop"]{
    position:absolute;
    visibility:hidden;
}
.knop-slid{
    margin-top: 70px;
    gap: 22px;
    display: flex;
    flex-direction: row;
}
.title-slid{
    font-family:'Oswald', sans-serif;
    font-size: 30px;
    font-weight:normal;
}
.sr-content{
    width: 500px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
    border: 1px solid yellow;
}
.ar{
    width: 55px;
    height: 55px;
    margin-top: -500px;
    transition: all ease 2s;
}
.slid{
    transition: all ease .5s;
}
.navig{
    margin-left: 985px;
    margin-top: -46px;
}
#knop1:checked ~ .s1 {
    margin-top: 0px;
    
}
#knop2:checked ~ .s1 {
    margin-top: -20px;
}
.title-con{
    font-family:'Oswald', sans-serif;
    font-size: 24px;
    font-weight:normal;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 47px;
    justify-content:space-between;
    margin-top:70px;
    width: 210px;
    margin-left:464px;
}
.sp1{
   width: 53px;
   height: 2px;
   background-color: #005BC1;
   margin-left:462px;
   margin-top: 2px;
}
.sun{
    color: #005BC1;
}
.content{
    border: 1px solid khaki;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap:22px;
    width: 1100px;
}
.bl{
    width: 350px;
    height: 300px;
    border:1px solid #005BC1;
    
}
.img4{
    width: 350px;
    height: 300px;
   
}
.cont3{
    width: 265px;
    height: 86px;
    background-color: #005BC1;
    margin-top: -101px;
    z-index: 1;
    position:relative;
    margin-left: 85px;
}
.title-bt2{
    margin-left: 21px;
    padding-top: 15px;
    font-weight:normal;
    font-family:'Oswald', sans-serif;
    color: white;
    font-size: 18px;
}